<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Paperless</title>
		<meta name="description" content="">
		<meta name="author" content="">
		
		<!-- Begin Stylesheets -->
		<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css">
		<link type="text/css" rel="stylesheet" href="{$ROOT_URL}/static/css/code.css" />
		<!-- End Stylesheets -->
		
		<!-- Begin Javascripts -->
		<script type="text/javascript" src="{$ROOT_URL}/static/js/lib/showdown.js"></script>

		<script type="text/javascript" src="{$ROOT_URL}/static/js/lib/syntaxhighlighter/scripts/shCore.js?v"></script>
		<link type="text/css" rel="stylesheet" href="{$ROOT_URL}/static/js/lib/syntaxhighlighter/styles/shCoreDefault.css" id="syntaxStylesheet" />
		<script type="text/javascript" src="{$ROOT_URL}/static/js/lib/syntaxhighlighter/scripts/shBrushCpp.js"></script>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="{$ROOT_URL}/static/js/lib/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="{$ROOT_URL}/static/js/lib/jquery-ui.min.js"></script>

		<script type="text/javascript" src="{$ROOT_URL}/static/js/Paperless.js"></script>
		<script type="text/javascript" src="{$ROOT_URL}/static/js/CodeManager.js"></script>
		<script type="text/javascript" src="{$ROOT_URL}/static/js/CodeFile.js"></script>
		<script type="text/javascript" src="{$ROOT_URL}/static/js/Comment.js"></script>
		<script type="text/javascript" src="{$ROOT_URL}/static/js/LineRange.js"></script>
		<!-- End Javascripts -->
		
	</head>
	<body>
		{block name="content"}
		
		{/block}
	</body>
</html>
			
	