{extends file="base.html"} 
{block name="content"}
		{include file="codepage/comment_template.html"}

		<script type="text/javascript">
		SyntaxHighlighter.all();

		$(function(){
			Paperless.CONFIGURATION = {
				/*
				* Provide a markdown converter to all utilities
				*/
				converter: new Showdown.converter(),
				commenter: "{$username}",
				interactive: {$interactive}
			};
	
			Paperless.Setup.start();
		});
		</script>

		{foreach from=$preset_comments item=comment}
		<div class="preset_comment">
			{$comment}
		</div>
		{/foreach}

		{foreach from=$comments item=file key=filename}
		<div class="file_comments"
			data-file="{$filename}">
			{foreach from=$file item=comment key=range}
		<div class="comment"
			data-range="{$range}"
			data-commenter="{$comment->commenter}"
			data-comment="{$comment->comment}"></div>
			{/foreach}
		</div>
		{/foreach}


		<div class="code_title">
			{$assignment->name} by {$student}
		</div>

		{include file="codepage/code_filelist.html"}

		{include file="codepage/code_files.html"} 
{/block}

