.hiddenPlainText{
    display: none;
}

.code .container .inlineComment{
    border: 1px solid black !important;
    padding: 7px !important;
}

.code .container .inlineComment .inlineCommentText{
    font-family: Helvetica !important;
}


textarea{
    width: 300px;
    height: 100px;
}

.modalMessage{
    font-size: 10px;
}

.preset_option{
    cursor: pointer;
    margin: 3px;
    font-size: 15px;
    padding: 3px;
}

.preset_option:hover{
    background-color: #ccc;
}

.preset_comment {
    display: none;
}